@import "tailwindcss";
@font-face {
    font-family: Yekan Bakh;
    font-style: normal;
    font-weight: 100;
    src: url('/woff/YekanBakh-thin.woff') format('woff'),
    url('/woff2/YekanBakh-thin.woff2') format('woff2');
}

@font-face {
    font-family: Yekan Bakh;
    font-style: normal;
    font-weight: 300;
    src: url('/woff/YekanBakh-Light.woff') format('woff'),
    url('/woff2/YekanBakh-Light.woff2') format('woff2');
}

@font-face {
    font-family: Yekan Bakh;
    font-style: normal;
    font-weight: normal;
    src: url('/hair-color-changer/woff/YekanBakh-Regular.woff') format('woff'),
}

@font-face {
    font-family: Yekan Bakh;
    font-style: normal;
    font-weight: 600;
    src: url('/woff/YekanBakh-SemiBold.woff') format('woff'),
    url('/woff2/YekanBakh-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: Yekan Bakh;
    font-style: normal;
    font-weight: bold;
    src: url('/woff/YekanBakh-Bold.woff') format('woff'),
    url('/woff2/YekanBakh-Bold.woff2') format('woff2');
}

@font-face {
    font-family: Yekan Bakh;
    font-style: normal;
    font-weight: 800;
    src: url('/woff/YekanBakh-ExtraBold.woff') format('woff'),
    url('/woff2/YekanBakh-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: Yekan Bakh;
    font-style: normal;
    font-weight: 900;
    src: url('/woff/YekanBakh-Black.woff') format('woff'),
    url('/woff2/YekanBakh-Black.woff2') format('woff2');
}

@font-face {
    font-family: Yekan Bakh;
    font-style: normal;
    font-weight: 950;
    src: url('/woff/YekanBakh-ExtraBlack.woff') format('woff'),
    url('/woff2/YekanBakh-ExtraBlack.woff2') format('woff2');
}
*{
    box-sizing: border-box;
    font-family: 'Yekan Bakh', sans-serif;
    font-style: normal;
}
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb)),
          rgb(var(--background-start-rgb)))
}
.color-swatch {
    width: 2.5rem; /* equivalent to w-10 */
    height: 2.5rem; /* equivalent to h-10 */
    border-radius: 9999px; /* equivalent to rounded-full */
    border-width: 2px; /* equivalent to border-2 */
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms; /* equivalent to duration-200 */
}

/*.color-swatch:hover {*/
/*    transform: scale(1.1); !* equivalent to scale-110 *!*/
/*    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);*/
/*    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);*/
/*    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);*/
/*}*/

/*.selected-swatch {*/
/*    border-color: white;*/
/*    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);*/
/*    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);*/
/*    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);*/
/*}*/

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
canvas {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}